@use '@angular/material' as mat;
@use 'auth-shared' as auth;

:host-context(.mobile-layout) .login-form {
  @include auth.auth-form-mobile;

  a,
  .signup-prompt {
    font-size: var(--mat-sys-label-xs-size);
  }

  mat-checkbox {
    @include mat.checkbox-overrides(
      (
        label-text-size: var(--mat-sys-label-xs-size),
      )
    );
  }
}

.login-form {
  @include auth.auth-form;

  h1 {
    white-space: pre-line;
  }

  a,
  .signup-prompt {
    font-size: var(--mat-sys-label-small-size);
    color: var(--md-sys-color-primary);
  }

  .form-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  mat-checkbox {
    @include mat.checkbox-overrides(
      (
        label-text-size: var(--mat-sys-label-small-size),
      )
    );

    margin-left: -0.6875rem;
  }
}
